body{
    background-color: black;
    color: lime;
}

.form-control{
    background-color: transparent;
    color: lime;
    border-color: slategrey;
}

ul{
    text-align: left;
}

.btn-success{
    background-image: linear-gradient(to bottom,lime 0,#419641 100%);
}